-- Fix RLS policies for admin_users table

-- First, drop existing policies if they exist
DROP POLICY IF EXISTS \
Allow
all
operations
for
authenticated
users\ ON admin_users;
DROP POLICY IF EXISTS \Enable
read
access
for
all
users\ ON admin_users;
DROP POLICY IF EXISTS \Enable
insert
for
all
users\ ON admin_users;
DROP POLICY IF EXISTS \Enable
update
for
all
users\ ON admin_users;
DROP POLICY IF EXISTS \Enable
delete
for
all
users\ ON admin_users;

-- Create more permissive policies (you can tighten these later)
CREATE POLICY \Enable
all
operations
for
anon
users\ ON admin_users
  FOR ALL USING (true) WITH CHECK (true);

-- Alternative: If you want to be more specific, use these instead:
-- CREATE POLICY \Enable
read
access
for
all
users\ ON admin_users FOR SELECT USING (true);
-- CREATE POLICY \Enable
insert
for
all
users\ ON admin_users FOR INSERT WITH CHECK (true);
-- CREATE POLICY \Enable
update
for
all
users\ ON admin_users FOR UPDATE USING (true) WITH CHECK (true);
-- CREATE POLICY \Enable
delete
for
all
users\ ON admin_users FOR DELETE USING (true);

-- Verify RLS is enabled
ALTER TABLE admin_users ENABLE ROW LEVEL SECURITY;
